<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="5" > -->

    <title>Virtual Space | Welcome</title>
    <link rel="stylesheet" type="text/css" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
     <link rel="stylesheet" type="text/css" href="http://www.gomass.xyz/static/qlive.css"> 
    <!--<link rel="stylesheet" type="text/css" href="qlive.css">-->
  </head>
  <body>
    
    <!-- Start Top Bar -->
    <div class="top-bar title_gradient" >
      <div class="top-bar-left" style="background-color:inherit">
        <ul class="menu" style="background-color:inherit">
          <li class="menu-text" style="background-color:inherit">www.gomass.xyz</li>
        </ul>
      </div>
      <div class="top-bar-right" style="background-color:inherit">
        <ul class="menu" style="background-color:inherit">
          <li><a href="#" style="background-color:inherit">About</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large primary" style="background-image:url(http://www.gomass.xyz/images/coast.png);background-position:center;">
      <div class="row column text-center">
        <h1>
          <span style="color:#ffffff; text-shadow: 2px 2px 2px #CCCCCC;">Virtual Space </span>
          <span style="font-size:80%;color:red;font-weight:bold;">&bull;LIVE</span>
        </h1>
      </div>
    </div>
    
    <div class="row" id="content">
      <div class="medium-8 columns">
        
        {% for info in data_list %}
        <div class="blog-post">
          <h5>
          <span>
              {% if info.profileimagehash|length > 0 %}
              <div class="user_profile" style="background-image:url(http://www.gomass.xyz/profile_images/{{info.profileimagehash}}.jpg);"></div>
              {% elif info.wechatprofileimage|length > 0 %}
              <div class="user_profile" style="background-image:url({{info.wechatprofileimage}});"></div>
              {% else %}
              <div class="user_profile" style="background-image:url(http://www.gomass.xyz/profile_images/A7E20E4022D4D9FC56EC494037074B36.jpg);"></div>
              {% endif %}
          </span>
          {{info.nickname}} <small>{{info.datetime}} (GMT)</small></h5>
          {% if info.lifeimagehash|length > 0 %}
          <img class="thumbnail" src="http://www.gomass.xyz/images/fox.jpg">
          {% endif %}

        <div style="background-color: #3b4046;
            color:#FFFFFF;
            border-radius:10px;
            padding: 18px 18px 18px 18px;
            margin: 8px 8px 8px 8px;
            font-size: 2em;
            text-shadow: 1px 1px 1px #CCCCCC;
            ">
        {% for content_line in info.htmlcontent%}
            <p>{{content_line}}</p>
        {% endfor %}
        </div>
         
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Likes: 0</a></li>
              <li><a href="#">Comments: 0</a></li>
              <li><span style="color:#3b4046;">{{info.humantime}}</span></li>
            </ul>
          </div>
        </div>
        {% endfor %}

      </div>

      <div class="medium-3 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
          <h4>About us</h4>
          <ul>
            <li><a href="#">Niklas 尼克</a></li>
            <li><a href="#">董一夫</a></li>
            <li><a href="#">徐尚方 Felicity</a></li>
            <li><a href="#">Raul Kapoor</a></li>
            <li><a href="#">高鹏飞 Phil</a></li>
          </ul>

          <h4>Author</h4>
          <ul>
            <li><a href="https://www.linkedin.com/in/%E9%B9%8F%E9%A3%9E-%E9%AB%98-97a331106/">高鹏飞(Phil)</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!--<div class="row column">-->
      <!--<ul class="pagination" role="navigation" aria-label="Pagination">-->
        <!--<li class="disabled">Previous</li>-->
        <!--<li class="current"><span class="show-for-sr">You're on page</span> 1</li>-->
        <!--<li><a href="#" aria-label="Page 2">2</a></li>-->
        <!--<li><a href="#" aria-label="Page 3">3</a></li>-->
        <!--<li><a href="#" aria-label="Page 4">4</a></li>-->
        <!--<li class="ellipsis"></li>-->
        <!--<li><a href="#" aria-label="Page 12">12</a></li>-->
        <!--<li><a href="#" aria-label="Page 13">13</a></li>-->
        <!--<li><a href="#" aria-label="Next page">Next</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



