.titlestripe {
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #B9C1C4 10px,
      #B9C1C4 20px
    );
    
}

.title_gradient {
 background: 
  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 20px,
    #ccc 10px,
    #ccc 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #666,
    #555
  );
  color:white;
  font-weight:bold;
}

.user_profile {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}